/* @font-face {
    font-family: "Poppins" ; */
    /* src:url("../fonts/Roboto/Poppins-Regular.ttf");; */
    /* font-weight: normal;
    font-style: normal;
  } */
  @font-face {
    font-family: "Poppins";
    src: url(font/Popins/Poppins-Regular.ttf);
}
